workflows/prompt_chain_demo.json
{
  "name": "Prompt Chain Demo (Corrected)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "chat",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "d5a78391-6065-4095-8a19-1c3097a8e4a0",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [240, 300],
      "webhookId": "prompt-chain-webhook"
    },
    {
      "parameters": {
        "keepOnlySet": false,
        "values": {
          "values": [
            {
              "name": "conversation_id",
              "value": "={{ $json.conversation_id || 'new' }}"
            },
            {
              "name": "user_message",
              "value": "={{ $json.message }}"
            },
            {
              "name": "timestamp",
              "value": "={{ new Date().toISOString() }}"
            }
          ]
        },
        "options": {}
      },
      "id": "b1a78391-6065-4095-8a19-1c3097a8e4a1",
      "name": "Parse Input",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [460, 300]
    },
    {
      "parameters": {
        "keepOnlySet": false,
        "values": {
          "values": [
            {
              "name": "conversation_history",
              "value": "={{ $json.conversation_history || [] }}"
            },
            {
              "name": "current_conversation",
              "value": "={{ $json.conversation_history ? $json.conversation_history + '\\n\\nUser: ' + $json.user_message : 'You are a helpful AI assistant. You are part of a prompt chain demo. Respond naturally and remember the conversation context.\\n\\nUser: ' + $json.user_message }}"
            }
          ]
        },
        "options": {}
      },
      "id": "c1a78391-6065-4095-8a19-1c3097a8e4a2",
      "name": "Build Context",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [680, 300]
    },
    {
      "parameters": {
        "resource": "text",
        "operation": "complete",
        "model": "gpt-3.5-turbo-instruct",
        "prompt": "={{ $json.current_conversation }}\n\nAssistant:",
        "options": {
          "temperature": 0.7,
          "maxTokens": 1000
        }
      },
      "id": "e1a78391-6065-4095-8a19-1c3097a8e4a4",
      "name": "OpenAI Chat",
      "type": "n8n-nodes-base.openAi",
      "typeVersion": 1,
      "position": [900, 300]
    },
    {
      "parameters": {
        "keepOnlySet": false,
        "values": {
          "values": [
            {
              "name": "conversation_id",
              "value": "={{ $('Parse Input').item.json.conversation_id }}"
            },
            {
              "name": "user_message",
              "value": "={{ $('Parse Input').item.json.user_message }}"
            },
            {
              "name": "ai_response", 
              "value": "={{ $json.choices[0].text }}"
            },
            {
              "name": "updated_conversation",
              "value": "={{ $('Build Context').item.json.current_conversation + '\\n\\nAssistant: ' + $json.choices[0].text }}"
            },
            {
              "name": "timestamp",
              "value": "={{ new Date().toISOString() }}"
            },
            {
              "name": "tokens_used",
              "value": "={{ $json.usage ? $json.usage.total_tokens : 0 }}"
            }
          ]
        },
        "options": {}
      },
      "id": "f1a78391-6065-4095-8a19-1c3097a8e4a5",
      "name": "Format Response",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [1120, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
                 "responseBody": "{\n  \"success\": true,\n  \"conversation_id\": \"{{ $json.conversation_id }}\",\n  \"response\": \"{{ $json.ai_response }}\",\n  \"conversation_history\": \"{{ $json.updated_conversation }}\",\n  \"timestamp\": \"{{ $json.timestamp }}\",\n  \"tokens_used\": \"{{ $json.tokens_used }}\",\n  \"continue_url\": \"http://localhost:5678/webhook/chat\",\n  \"instructions\": \"Send your next message to continue_url with: {\\\"message\\\": \\\"your message\\\", \\\"conversation_history\\\": \\\"{{ $json.updated_conversation }}\\\"}\"\n}",
        "options": {}
      },
      "id": "g1a78391-6065-4095-8a19-1c3097a8e4a6",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1340, 300]
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Parse Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Input": {
      "main": [
        [
          {
            "node": "Build Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Context": {
      "main": [
        [
          {
            "node": "OpenAI Chat",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat": {
      "main": [
        [
          {
            "node": "Format Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Response": {
      "main": [
        [
          {
            "node": "Respond",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "timezone": "UTC"
  },
  "createdAt": "2024-01-01T00:00:00.000Z",
  "updatedAt": "2024-01-01T00:00:00.000Z",
  "id": "prompt-chain-demo",
  "tags": []
} 